<div class="grid" [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Site Name"
           formControlName="name" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="URL" type="url"
           formControlName="url" required/>
    <mat-hint>Should begin with http:// or https://</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Username"
           formControlName="username" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password"
           [type]="hidePassword ? 'password' : 'text'"
           formControlName="password" required>
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <button mat-icon-button matSuffix [cdkCopyToClipboard]="form.value.password" (cdkCopyToClipboardCopied)="showCopiedMessage()">
      <mat-icon>content_copy</mat-icon>
    </button>

  </mat-form-field>
</div>

<ng-container matDialogActions>
  <button mat-raised-button
          [matDialogClose]="form.value"
          [disabled]="form.invalid">
    Save
  </button>
  <button mat-button matDialogClose>Cancel</button>
</ng-container>
